<hello name="{{ name }}"></hello>
<menu-component></menu-component>

<a target="_blank" href="https://angular.dev/overview">
  Learn more about Angular
</a>
<h1>Olá Mundão!</h1>

<!-- data binding - associação de dados -->

<!-- interpolação -->
<my-button label="{{ buttonLabel }}"></my-button>
<my-button label="noticia"></my-button>

<!-- property binding -->
<my-button [label]="buttonSecond"></my-button>
<my-button [label]="'CARRINHO'"></my-button>

<!-- event biding - ta no button.html -->

<!-- two way data biding -->
<app-entry-data></app-entry-data>
